/* mobile phone */
@media only screen and (max-width: 1024px) {
	/* container */

	.container {
		width: 100vw;
		margin: 0px;
		box-shadow: none;
	}

	/* nav bar  */
	.nav {
		display: flex;
		justify-content: space-between;
		height: 7vh;
	}

	.nav img {
		position: relative;
		top: 4vw;
		height: 5vw;
		margin-left: 2vw;
		margin-bottom: 2vw;
		height: 10vh;
		vertical-align: middle;
	}
	.nav ul {
		display: none;
	}

	.nav-mobile {
		display: block;
		width: 100vw;
		left: 100%;
		height: auto;
		position: fixed;
		text-align: center;
		z-index: 98;
		background-color: rgb(175, 98, 247);
		transition: 0.4s;
	}

	.nav-mobile.is-active {
		left: 0px;
	}

	.nav-mobile a {
		color: white;
		text-decoration: none;
		font-family: "Quicksand", sans-serif;
		padding: 20px;
	}

	.nav-mobile li {
		padding: 20px;
		list-style: none;
	}

	.nav-mobile li:hover {
		background-color: rgb(113, 78, 146);
	}

	.hamburger {
		position: relative;
		left: 85vw;
		width: 35px;
		height: 25px;
		cursor: pointer;
		appearance: none;
		background: none;
		outline: none;
		border: none;
		overflow:visible !important;
		z-index: 99;
	}

	.hamburger .bar,
	.hamburger::after,
	.hamburger::before {
		content: "";
		display: block;
		width: 100%;
		height: 5px;
		background-color: rgb(113, 78, 146);
		margin: 6px 0px;
		transition: 0.4s;
		opacity: 100%;
		
	}

	.hamburger.is-active::before {
		transform: rotate(-45deg) translate(-8px, 6px);
	}
	.hamburger.is-active::after {
		transform: rotate(45deg) translate(-8px, -9px);
	}

	.hamburger.is-active .bar {
		opacity: 0;
	}

	/* hero section */
	#hero-bg {
		width: 100vw;
	}
	#join-pic {
		width: 60%;
		position: absolute;
		left: 20vw;
		top: 25%;
	}

	/* about */

	.about {
		display: flex;
		flex-direction: column;
		justify-content: space-around;
		align-items: center;
		text-align: center;
	}

	.about img {
		width: 75vw;
		margin-bottom: 3vh;
	}

	#about-text {
		width: 90vw;
		margin: 2vw;
	}

	.about h1 {
		text-align: center;
		padding-bottom: 3vh;
	}

	/* Covid know */

	.covid-know {
		display: flex;
		flex-direction: column-reverse;
		justify-content: space-around;
		align-items: center;
		text-align: center;
	}

	#covid-know-logo img {
		width: 75vw;
		border-radius: 25px;
		margin: 2vh;
		margin-bottom: 6vh;
	}

	#covid-know-text {
		width: 90vw;
		margin: 2vw;
	}

	/* donation and facebook */

	.facebook {
		width: 50vw;
		margin: auto;
		margin-top: 10vw;
		margin-bottom: 5vw;
		display: flex;
		flex-direction: column;
		justify-content: space-evenly;
		align-items: center;
	}

	#donate-btn {
		width: 100px;
		height: 4vh;
		padding: 4vw;
		text-align: center;
		margin-top: 5vh;
		margin-bottom: 2vh;
	}

	footer {
		height: 50px;
	}
}
