* {
	margin: 0;
	padding: 0;
}

img {
	max-width: 100%;
}

/* container */
.container {
	width: 80vw;
	margin: auto;
	box-shadow: 1px 1px 20px black;
}
/* nav bar  */
.nav {
	display: flex;
	justify-content: space-between;
	height: 3.9vw;
}

.nav img {
	height: 5vw;
	margin-left: 2vw;
	margin-bottom: 2vw;
	height: 115%;
	vertical-align: middle;
}
.nav ul {
	font-size: 1.5rem;
	font-family: "Quicksand", sans-serif;
	width: 52vw;
	list-style: none;
	display: flex;
	justify-content: space-around;
}

.nav a {
	text-decoration: none;
	padding: 1vw 2vw;
	color: black;
}

.nav li {
	margin-top: 4vh;
}

.nav a:hover {
	background-color: rgb(205, 78, 255);
	transition: 500ms;
	color: white;
}

/* hero section */

#join-pic {
	width: 60%;
	position: absolute;
	left: 20vw;
	top: 14vw;
	background: rgba(0, 0, 0, 0.3);
}

/* about */

.about {
	display: flex;
	justify-content: space-around;
	font-family: "Quicksand", sans-serif;
	margin-bottom: 4vh;
	margin-left: 1vw;
}

.about img {
	width: 75vw;
}

#about-image img {
	border-radius: 25px;
	margin-top: 4vh;
	box-shadow: 1px 1px 10px black;
}

#about-text {
	width: 90vw;
	margin: 2vw;
}

.about h1 {
	font-size: 2rem;
	color: rgb(175, 98, 247);
	text-align: center;
	padding-bottom: 2vh;
}

.about a {
	color: rgb(192, 51, 168);
}

.about a:hover {
	color: rgb(175, 98, 247);
}

/* Covid know */

.covid-know {
	display: flex;
	justify-content: space-around;
	font-family: "Quicksand", sans-serif;
	margin-right: 1vw;
}

.covid-know img {
	width: 32vw;
	box-shadow: 1px 1px 10px black;
}

.covid-know a {
	color: rgb(192, 51, 168);
}

.covid-know a:hover {
	color: rgb(175, 98, 247);
}

#covid-know-logo img {
	width: 30vw;
	border-radius: 25px;
	margin: 2vh;
}

#covid-know-text {
	width: 40vw;
	margin: 2vw;
}

/* donation and facebook */

.facebook {
	width: 50vw;
	margin: auto;
	margin-top: 10vw;
	margin-bottom: 5vw;
	display: flex;
	justify-content: space-evenly;
}

#donate-btn {
	font-size: 1.75rem;
	font-weight: 600;
	color: black;
	text-decoration: none;
	border-radius: 25px;
	background-color: rgb(175, 98, 247);
	color: white;
	width: 15%;
	height: 25%;
	padding: 1vw;
	text-align: center;
	font-family: "Quicksand", sans-serif;
	margin-top: 20px;
}

#donate-btn:hover {
	background-color: rgb(39, 240, 213);
	color: rgb(175, 98, 247);
	box-shadow: 1px 1px 10px black;
}
/* footer */
footer {
	background-color: purple;
	height: 100px;
	font-family: "Quicksand", sans-serif;
	color: white;
	text-align: center;
	padding-top: 25px;
}
